<div>

  <form class="train-form" [formGroup]="trainForm" (ngSubmit)="submit()">
    <table class="train-full-width">
      <tr>
        <td>
          <mat-form-field class="train-full-width">
            <input matInput placeholder="Ville de départ" id="villeDepart" formControlName="villeDepart" required/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="train-full-width">
            <input matInput placeholder="Ville d'arrivée" id="villeArrivee" formControlName="villeArrivee" required/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="train-full-width">
            <input matInput placeholder="Heure de départ" id="heureDepart" formControlName="heureDepart" required/>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div style="display:flex; justify-content:center;">
      <button type="submit" mat-stroked-button color="primary">
        Valider
      </button>
    </div>
  </form>

</div>
