<div>

  <div style="display:flex; justify-content:center;">
    <button mat-button (click)="add()">Add</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="bookNumber">
      <th mat-header-cell *matHeaderCellDef>Numéro de la réservation</th>
      <td mat-cell *matCellDef="let element">{{element.bookNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="numberOfPLaces">
      <th mat-header-cell *matHeaderCellDef>Places libre</th>
      <td mat-cell *matCellDef="let element">{{element.numberOfPLaces}}</td>
    </ng-container>
    <ng-container matColumnDef="sales">
      <th mat-header-cell *matHeaderCellDef>Ventes</th>
      <td mat-cell *matCellDef="let element">{{element.sales}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <ng-container matColumnDef="actions">
      <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button (click)="edit(element)">Edit</button>
        <button mat-button (click)="remove(element)">Remove</button>
      </mat-cell>
    </ng-container>
  </table>

  <mat-paginator
    [pageSizeOptions]="[25, 50]">
  </mat-paginator>
</div>

