<nav>
  <ul>
    <li><a routerLink="/train/list" routerLinkActive="active">Trains</a></li>
    <li><a routerLink="/book/list" routerLinkActive="active">Bookings</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
