
<div>
  <div style="display:flex; justify-content:center;">
    <button mat-button (click)="add()">Add</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
    <!-- Nom complet Column -->
    <ng-container matColumnDef="numTrain">
      <th mat-header-cell *matHeaderCellDef> Train </th>
      <td mat-cell *matCellDef="let element"> {{element.numTrain}} </td>
    </ng-container>
    <!-- Mail Column -->
    <ng-container matColumnDef="villeDepart">
      <th mat-header-cell *matHeaderCellDef> Départ </th>
      <td mat-cell *matCellDef="let element"> {{element.villeDepart}} </td>
    </ng-container>
    <!-- employeNumero Column -->
    <ng-container matColumnDef="villeArrivee">
      <th mat-header-cell *matHeaderCellDef> Arrivé </th>
      <td mat-cell *matCellDef="let element"> {{element.villeArrivee}} </td>
    </ng-container>
    <ng-container matColumnDef="heureDepart">
      <th mat-header-cell *matHeaderCellDef> Heure </th>
      <td mat-cell *matCellDef="let element"> {{element.heureDepart}} </td>
    </ng-container>
    <ng-container matColumnDef="bookTrain">
      <th mat-header-cell *matHeaderCellDef> Numéro de reservation </th>
      <td mat-cell *matCellDef="let element"> {{element.bookTrain == null ? '' : element.bookTrain.bookNumber}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <ng-container matColumnDef="actions">
      <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button (click)="edit(element)">Edit</button>
        <button mat-button (click)="remove(element)">Remove</button>
      </mat-cell>
    </ng-container>
  </table>
  <mat-paginator
    [pageSizeOptions]="[25, 50]">
  </mat-paginator>
</div>

