<div>

  <form class="train-form" [formGroup]="bookForm" (ngSubmit)="submit()">
    <table class="train-full-width">
      <tr>
        <td>
          <mat-form-field class="train-full-width">
            <input matInput placeholder="Nombre de place" id="numberOfPLaces" formControlName="numberOfPLaces" required/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="train-full-width">
            <input matInput placeholder="Nombre de ventes" id="sales" formControlName="sales" required/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="train-full-width">
            <input matInput placeholder="Numéro du train" id="train" formControlName="train" required/>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div style="display:flex; justify-content:center;">
      <button type="submit" mat-stroked-button color="primary">
        Valider
      </button>
    </div>
  </form>

</div>
